# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.so

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# SQLite
# ==========================
db.sqlite3

# ==========================
# Django
# ==========================
media/
staticfiles/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# PyCharm
# ==========================
.idea/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Logs
# ==========================
*.log